h3 {color:#66fcf1;}
h1{color: #66fcf1;font-weight:bold;}
#cv-template{
    display:none;
}
.myimg{
    border:1px solid black;
    border-radius: 50%;
    width: 200px;   
}
.background{
    background-color:rgba(147, 141, 126, 0.224);
}   
body{
    background-color:#1f2833;
}
label{color:#ff6c17;font-style:italic;}
.ab{
    background-color:#0b0c10;
}
.form-control{
    display: block;
    width: 100%; /* THIS */
    height: 34px;
    padding: 8px 12px;
    font-size: 20px;
    line-height: 1.42857143;
    color: #555; /* THIS */
    background-color: #0b0c10;
    background-image: none;
    border: 3px solid #66fcf1; /* THIS */
    border-radius: 10px; /* THIS */
  }
label:hover{color:#f1fc6f}
#imgField.form-control {
    height: 50px; /* Adjust the height as needed */
    padding: 10px 12px; /* Adjust the padding as needed */
}



